
.topnav {
    overflow: hidden;
    background-color: white;
}
.topnav a{
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: gray;
    color: black;
}
.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 37%;
    font-size: 17px;
}
.topnav select{
    border: none;
    margin-top: 15px;
    float: right;
    margin-right: 15px;
}
.topnav a:first-child{
    float: left;
}